*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

#wrapper{
    background-color: #14213D;
    width: 100%;
    position: relative;
}


/*-----------Navigator Section-----------*/


#navbar{
    width: 100%;
    background-color: black;
    height: 70px;
    position: fixed;
    white-space: nowrap;
    display: flex;
    align-items: center;
    z-index: 999;
}

#logo{
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20%;
    width: fit-content;
    text-transform: uppercase;
}

#btns{
    display: flex;
    margin-left: 43%;
}

#btns button{
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    color: black;
    background-color: white;
    padding: 3px;
    padding-right: 7px;
    padding-left: 5px;
    margin-left: 7px;
}

#btns button:hover{
    cursor: pointer;
    background-color: #999999;
}


/*-----------Front Page Section-----------*/


#main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.a{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213D;
    flex-wrap: wrap;
}

#brand{
    border-radius: 50%;
    color: white;
    opacity: 0.7;
    background-color: #FCA311;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


/*-----------Search Bar Section-----------*/


.c{
    background-color: black, 0;
    height: 5px;
    transform: translate(0px , -270px);
}

#search{
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search span{
    margin-bottom: 40px;
}

#search input[type=text]{
    margin-top: 50px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
    border: 3px solid;
    border-radius: 5px;
}


/*-----------Category Section-----------*/


.b{
    background-color: white;
}

#categs{
    width: 70%;
    height: fit-content;
    background-color: white;
    padding: 20px;
}

.tablink {
    background-color: black;
    color: white;
    float: left;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
  
.tablink:hover {
    background-color: white;
    color: black;
}

#catContent{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
}

#pictures{
    width: 95%;
    background-color: white;
}  

#pictures img{
    width: 30%;
    height: 50%;
    border-radius: 50%;
    object-fit:cover;
    background-color:#dbdbdb;
}

#nxtPointer{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nxtPointer button{
    width: 100%;
    height: 50%;
    font-size: 30px;
    background-color: black;
    color: white;
}

#nxtPointer button:hover{
    background-color: white;
    color: black;
}


/*-----------Specials Section-----------*/


.d{
    margin-top: 5px;
    height: fit-content;
    background-color: #14213D;
}

#sale{
    height: 100%;
    width: 70%;
    color: white;
    font-size: 20px;
    text-indent: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#saleContent{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#salePictures{
    width: 95%;
}

#salePictures img{
    width: 23%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: #dbdbdb;
}


/*-----------Footer Section-----------*/


.e{
    height: 150px;
    background-color: whitesmoke;
}

#footer{
    width: 70%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerMsg{
    width: 70%;
    text-indent: 70px;
    font-size: 50px;
}

#footerSocial{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
}

#footerSocial img{
    width: 40px;
    height: 40px;
}