*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

body{
    overflow-x: hidden;
    background-color: black;
}

#header{
    height: 85vh;
    overflow: hidden;
    position: relative;
}

#bg-main{
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 100%;
    filter: none;
    -webkit-filter: blur(3px);
    display: block;
}

#bg-gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(rgb(0,0,0,0), rgb(0, 0, 0));
}

#img-contain{
    height: 50vh;
    width: 25vw;
    overflow: hidden;
    position: absolute;
    right: 51%;
    top: 0;
    bottom: 0;
}

#img-contain img{
    max-width: 100%;
}

#txt-contain{
    font-weight: 1000;
    font-size:7vw;
    width: 25vw;
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translateY(-50%);
    text-transform: capitalize;
    color: white;
}

ul{
    display: grid;
    place-items: center;
    /* width: 40vw; */
    color: white;
    list-style-type: none;
    row-gap: 3vh;
    overflow: hidden;
}

ul :first-child{
    display: flex;
    width: 40vw;
    /* overflow: visible; */
    /* background-color: blue; */
}

ul :first-child *{
    cursor: pointer;
    width: 4vw;
    filter: invert(1);
    margin: 2vw;
    height: 7vh;
    padding: 5px;
    border-radius: 15px;
    /* overflow: visible; */
}

/* ul :first-child img:not(:nth-child(3)):hover{
    background-color: rgba(0, 0, 0, 0.2);
} */

ul :first-child :last-child{
    margin-left: auto;
    /* margin-right: auto; */
}

ul :first-child :nth-child(3){
    cursor:auto;
}

#volDiv{
    position:absolute;
    left: 7%;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    display: none;
    filter: none;
    background-color: rgb(19, 19, 19);
    height: 4vh;
    width: 15vw;
    border: 1px solid white;
    border-radius: 15px;
}

ul :first-child :nth-child(3):hover + #volDiv{
    display: grid;
}

#volDiv:hover{
    display: grid;
}

input[type="range"] {
    filter: none;
    -webkit-appearance: none;
    /* margin-right: 15px; */
    margin: auto;
    width: 13vw;
    height: 7px;
    border-radius: 5px;
    background-color: #363636;
}

input[type="range"]:hover + #volDiv{
    display: grid;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.song{
    padding: 7px 10px;
    cursor: pointer;
    border: 1px white solid;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 25vw 10vw;
    max-width: 40vw;
    max-height: auto;
    min-height: 8vh;
    overflow: hidden;
}

.song :first-child{
    width: 25vw;
    height: auto;
    text-align: left;
}

.song h5{
    justify-self: center;
    word-wrap: break-word;
    margin: auto;
    color: white;
    filter: none;
}

.song p{
    justify-self: end;
}

.song:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#foot{
    background-color: black;
    height: 5vh;
}