*{
    margin: 0 auto;
    padding: 0 auto;
}

body{
    background-color: #d9c4ec;
    overflow-x: hidden;
    overflow-y: scroll;
}

#title{
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin-bottom: 5px;
}

#content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#content img:hover{
    cursor: pointer;
}

.container{
    position: relative;
    margin: 7px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(100, 66, 66);
}

.container img{
    height: auto;
    width: 300px;
    display: block;
}

.text{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 50%;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0;
}

.container:hover{
    scale: 1.2;
    z-index: 999;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.container:hover .text{
    opacity: 1;
}