*{
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: "Nunito Sans";
    background-color: rgb(255, 255, 255);
}

.container_main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-asd{
    /* min-height: 350px; */
    background-color: white;
}

.three-text{
    margin: 0 auto;
    min-height: 320px;
    padding: 20px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.three-text .text-content{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.three-text div > span{
    font-size: 50px;
}

.text-separator-one{
    top: 15%;
    position: absolute;
    height: 70%;
    left: 33%;
    width: 1px;
    background-color: #01563F;
}

.text-separator-two{
    position: absolute;
    height: 70%;
    top: 15%;
    right: 33%;
    width: 1px;
    background-color: #01563F;
}

.footer{
    height: 400px;
    background-color: rgb(0,161,88);
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.footer div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer div img{
    filter:invert(1);
    width: 50px;
}

.footer :last-child{
    row-gap: 10px;
}

.navbar{
    background-color: rgb(0,161,88);
    /* background-color: white; */
    color: white;
    font-size: 18px;
}

.navbar > div{
    width: 80%;
    display: flex;
}

.text-container{
    width: 80vw;
    padding: 5px 0;
    display: flex;
    align-content: center;
    margin: auto;
}

.navname{
    display: flex;
    margin: auto auto auto 0;
    border-radius: 15px;
    flex-direction:row;
    column-gap: 1vw;
}

.navbar-brand{
    align-items: center;
    justify-content: center
}

.navbar-brand span{
    font-size: 25px;
    vertical-align: middle;
    color: white;
}

.navname img{
    max-width: 55px;
}

.tabs{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.tabs > *{
    padding: 7px 10px;
    /* font-weight: 600; */
    /* font-style: bold; */
    /* font-size:medium; */

}

.tabs > *:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor:default;
}

.navbuttons{
    margin: auto 0;
    display: flex;
    width: fit-content;
    column-gap: 17px;
}

.navbuttons :last-child{
    background-color: white;
    color: black;
    padding: 7px 10px;
    border-radius: 7px;
}

.navbuttons span{
    /* vertical-align: middle; */
    align-self: center;
    cursor: pointer;
}

.navbuttons a:nth-child(2){
    color: white;
}

.navbuttons a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-self: center;
    cursor: pointer;
}

.search{
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 0;
}

.search input{
    width: 10vw;
    max-height: 100%;
    padding: 3px;
    border: 0;
    border-radius: 10px;
}

.search span{
    font-size: 25px;
    padding: 3px;
    cursor:pointer;
    color: black;
}

.search span:focus-visible{
    border: 0;
}

.userbar{
    display: flex;
    cursor: pointer;
    max-width: 121px;
    align-items: center;
}

#cart{
    cursor: pointer;
    margin: auto;
}

.line-color{
    background-color: #7d7;
    /* background-color: white; */
    position: absolute;
    top: 79px;
    left: 0;
    height: 2px;
    width: 100%;
}

.main{
    width: 100%;
    margin: 0;
    background-color: #ffffff95;
}

.specials{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    background: url('img/janko-ferlic-uayYTomQ5r8-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /* backdrop-filter: blur(10px); */
}

.specials > h1{
    padding: 70px 30px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 5px;
}

.carousel-item{
    height: 500px;
}

.c-item{
    object-fit:cover;
    height: 100%;
    /* position: relative; */
    /* bottom: 50%; */
    filter: brightness(0.6);
}

.categories{
    /* min-height: 700px; */
    width: 80%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;

}

.categ-items{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 7px;
}

.categ-items h4{
    border: 1px #01563F solid;
    padding: 4px 7px;
    border-radius: 10px;
    cursor: pointer;
}

.categ-items h4:hover{
    background-color: rgba(152, 255, 153, 0.4);
}

.categ-items > .active{
    background-color: #98FF99;
}

.categ-items > .active:hover{
    background-color: #98FF99;
}

h2{
    margin: 0 auto;
}

hr{
    margin: 10px 0;
}

.categ-selection{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
}

.selection-item{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.selection-item img{
    height: 120px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    float: center;
}

.selection-item a{
    text-decoration: none;
}

.selection-item .quantity-adjust{
    width: 100%;
    display: flex;
    padding: 4px 0;
}

.selection-item .quantity-adjust .counter{
    font-size: 15px;
    font-style: bold;
    display: flex;
    align-items: center;
}

.selection-item .quantity-adjust .material-symbols-outlined{
    cursor: pointer;
    /* width: 100%; */
    padding: 4px 10px;
}

.selection-item button{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: #01563F 1px solid;
    padding: 4px 0;
}















@media only screen and (max-width: 991px) {

}