*{
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: "Nunito Sans";
    background-color: rgb(255, 255, 255);
}

.container_main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-asd{
    height: 400px;
    background-color: white;
}

.three-text{
    margin: 0 auto;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.three-text div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-separator-one{
    position: absolute;
    
}

.text-separator-two{
    position: absolute;
}

.asdasd{
    height: 100px;
    background-color: chocolate;
}

.navbar{
    background-color: rgb(0,161,88);
    color: white;
}

.navbar a{
    color: white;
}

.navbar > div{
    width: 80%;
    display: flex;
}

.text-container{
    width: 80vw;
    padding: 5px 0;
    display: flex;
    align-content: center;
    margin: auto;
}

.navname{
    display: flex;
    margin: auto auto auto 0;
    border-radius: 15px;
    flex-direction:row;
    column-gap: 1vw;
}

.navname img{
    max-width: 55px;
}

.tabs{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.tabs > *{
    padding: 7px 10px;
    /* font-weight: 600; */
    /* font-style: bold; */
    /* font-size:medium; */

}

.tabs > *:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor:default;
}

.navbuttons{
    margin: auto 0;
    display: flex;
    width: fit-content;
    column-gap: 17px;
}

.navbuttons > :last-child{
    background-color: white;
    color: black;
    padding: 7px 14px;
    border-radius: 7px;
}

.navbuttons span{
    /* vertical-align: middle; */
    align-self: center;
    cursor: pointer;
}

.search{
    display: flex;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 0;
}

.search input{
    width: 10vw;
    max-height: 100%;
    padding: 3px;
    border: 0;
    border-radius: 10px;
}

.search span{
    font-size: 25px;
    padding: 3px;
    cursor:pointer;
    color: black;
}

.search span:focus-visible{
    border: 0;
}

.userbar{
    display: flex;
    cursor: pointer;
    max-width: 121px;
    align-items: center;
}

#cart{
    cursor: pointer;
    margin: auto;
}

.line-color{
    background-color: #7d7;
    position: absolute;
    top: 79px;
    left: 0;
    height: 2px;
    width: 100%;
}

.main{
    width: 100%;
    margin: 0;
    background-color: #ffffff95;
}

.specials{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 100%;
    overflow: hidden;
    background: url('img/janko-ferlic-uayYTomQ5r8-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.specials > h1{
    padding: 70px 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

.carousel-item{
    height: 500px;
}

.c-item{
    object-fit:cover;
    filter: brightness(0.6);
}